*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
html{
    height: 100%;
}
body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./imagenes/pexels-rafael-guajardo-604684\(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.contenedor{
    height: 50%;
    width: 25%;
    border: 1px solid black;
    border-radius:10% ;
    display: flex;
    justify-content: center;
  
    flex-direction: column;
    background-color: rgb(23, 22, 22);
    opacity: 0.9;
}
.titulo{
    height: 20%;
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: rgb(255, 60, 0);
}
.datosM{
    height: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.datos{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.datos input{
    height: 100%;
    width: 80%;
    font-size: 20px;
}
.ojito{
    height: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.ojito input{
    height: 100%;
    width: 80%;
    font-size: 20px;
}
.ojito span{
    position: absolute;
    right: 750px;
    color: rgb(15, 11, 245);
   
}
.error{
    display: none;
}
::placeholder{
    color: blue;
}
.boton{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}
button{
    height: 50%;
    width: 35%;
    border: 2px solid black;
    border-radius:100% ;
    font-size: 25px;
    color: rgb(15, 11, 245);
}

.foot{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
a{
    text-decoration: none;
    color:rgb(15, 11, 245);
}